/* Colors */
$primary: #E5E5E5;
$secondary: #020203;
$tertiary: #E60000;
$bg-page: #FFFFFF;

$text-white: #FFFFFF;
$text-black: #000000;

$bg-graph: #FBFBFB;
$bg-linear-graph: #FF0000;

/* width and height */
$sidebarWidth: 60px;
$paddingSidebar: 15px 30px;

/* text size */
$medium-text: 24px;
$normal-text: 18px;
$little-text: 12px;
$label-text: 15px;
$title-text: 48px;

/* corner radius */
$graph-radius: 5px;