/* Colors */
$primary: #E5E5E5;
$secondary: #020203;
$tertiary: #E60000;

$text-white: #FFFFFF;
$text-black: #000000;

/* width and height */
$sidebarWidth: 60px;
$paddingSidebar: 15px 30px;

/* text size */
$medium-text: 24px;
$normal-text: 18px;
$little-text: 12px;
$label-text: 14px;
$title-text: 48px;
